* {
    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
